<h1>Agregar</h1>
<div fxLayout="row" fxLayoutGap="40px">
    <div fxFlex="50" fxLayout="column">
        <mat-form-field fxFlex="100">
            <mat-label>Super Heore</mat-label>
            <input matInput type="text" [(ngModel)]="heroe.superhero" required>
        </mat-form-field>

        <mat-form-field fxFlex="100">
            <mat-label>Publisher</mat-label>
            <mat-select [(ngModel)]="heroe.publisher">
                <mat-option *ngFor="let publisher of publishers" [value]="publisher.id">
                    {{publisher.descripcion}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field fxFlex="100">
            <mat-label>Alter Ego</mat-label>
            <input matInput type="text" [(ngModel)]="heroe.alter_ego" required>
        </mat-form-field>
        <mat-form-field fxFlex="100">
            <mat-label>First Appearance</mat-label>
            <input matInput type="text" [(ngModel)]="heroe.first_appearance" required>
        </mat-form-field>
        <mat-form-field fxFlex="100">
            <mat-label>Characters</mat-label>
            <input matInput type="text" [(ngModel)]="heroe.characters" required>
        </mat-form-field>

        <div fxLayout>
            <button mat-raised-button color="accent">
                <mat-icon>
                    edit
                </mat-icon>
                {{id ? 'Actualizar' : 'Crear'}}
            </button>
        </div>
    </div>
</div>

<h1>Formulario dinamico</h1>

<form [formGroup]="formGroup" (ngSubmit)="guardar()">

    <dynamic-material-form [group]="formGroup" [model]="formModel"></dynamic-material-form>
    <button class="btn btn-primary" type="submit">
        <span class="spinner-grow spinner-grow-sm"></span>
        {{id? 'Editar': 'Guardar'}}
    </button>
</form>