<mat-card fxLayout="column" class="mat-elevation-z8 heroe-container">
    <mat-card-header>
        <mat-card-title [matTooltip]="heroe.superhero"> {{heroe.superhero}} </mat-card-title>
        <mat-card-subtitle [matTooltip]="heroe.alter_ego"> {{heroe.alter_ego}} </mat-card-subtitle>
    </mat-card-header>

    <img src="assets/heroes/{{heroe.id}}.jpg" alt="">

    <mat-card-content>
        <h3>{{heroe.publisher}}</h3>
        <p>
            <strong>Primera aparición {{heroe.first_appearance}}</strong>
            <br>
            <strong>Personajes {{heroe.characters}}</strong>
        </p>
    </mat-card-content>

    <mat-card-actions>
        <button mat-button color="warn" [routerLink]="['/heroes',heroe.id]">
            Leer más...
        </button>
        <button mat-button color="info" [routerLink]="['/heroes/editar',heroe.id]">
            Editar
        </button>
    </mat-card-actions>

</mat-card>