<mat-sidenav-container fullscreen>
    <mat-sidenav #sidenav>

        <mat-toolbar>
            <span>Menu</span>
            <button mat-button (click)="sidenav.toggle()">
                <mat-icon>menu</mat-icon>
            </button>
        </mat-toolbar>

        <mat-nav-list>
            <a routerLink="./listado" mat-list-item (click)="sidenav.toggle()">
                <mat-icon> format_list_numbered_rtl</mat-icon>
                <span>Lista de heroes</span>
            </a>

            <a routerLink="./agregar" mat-list-item (click)="sidenav.toggle()">
                <mat-icon mat-list-icon>add</mat-icon>
                <span>Añadir Héroe</span>
            </a>

            <a routerLink="./buscar" mat-list-item (click)="sidenav.toggle()">
                <mat-icon mat-list-icon>search</mat-icon>
                <span>Búscar Héroe</span>
            </a>
        </mat-nav-list>

    </mat-sidenav>


    <mat-toolbar>
        <button mat-button (click)="sidenav.toggle()">
            <mat-icon>menu</mat-icon>
        </button>
    </mat-toolbar>

    <router-outlet></router-outlet>

</mat-sidenav-container>